html {
    font-size: 22px;
}
body{
    background: linear-gradient(45deg,#333, rgb(49, 1, 61), #333);
    color: whitesmoke;
    display: grid;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

img{
  display: block;
}

.main-header{
  width: 100%;
  display: grid;
}

.proj-header{
  height: auto;
  width: 100%;
  display: grid;
}

.main-content{
  width: 100%;
}

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(1.1); 
}

.svg-main {
  width: 60%;
  height: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
}

.intro-text{
  display: inline-block;
  width: 30%;
  height: auto;
  justify-self: right;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
}

.top-Bar {
  padding: 1vw 1vw;
  height: 3vw;
  width: 90vw;
  display: grid;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  display: inline-block;
}

.top-Bar h2{
  font-size: 3vw;
  margin: auto;
}

.links-Container {
  height: 3vw;
  width: auto;
  display: grid;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-self: right;
}

.link-box {
  height: 3vw;
  width: 4vw;
  display: inline-block;
}

.link-logo{
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo-Container {
  height: 3vw;
  width: 10vw;
  margin-right: 65vw;
  display: grid;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-self: center;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
}

.intro-container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
}

.proj-intro {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
}

.proj-intro h1 {
  font-size: 6vw;
  margin-top: 0.5vw;
  margin-bottom: 0.55vw;
  font-weight: 700;
  background: linear-gradient(45deg, blueviolet, aquamarine, whitesmoke);
  -webkit-background-clip: text;
  color: transparent;
}

.projects-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
}

.summary-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
}

.summary-container h2 {
  font-size: 5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.55vw;
  font-weight: 500;
  background: linear-gradient(45deg, blueviolet, aquamarine, whitesmoke);
  -webkit-background-clip: text;
  color: transparent;
}

.summary-container h3 {
  font-size: 2vw;
  margin-top: 0.5vw;
  margin-bottom: 0.55vw;
  font-weight: 300;
  background: linear-gradient(45deg, blueviolet, aquamarine, whitesmoke);
  -webkit-background-clip: text;
  color: transparent;
}

.proj-grid {
  display: grid;
  grid-auto-flow: row;
  column-gap: 1vw;
  row-gap: 1vh;
  grid-template-columns: 1fr 1fr;
  margin-right: 3%;
  margin-left: 3%;
}

.display-grid {
  display: grid;
  grid-auto-flow: row;
  column-gap: 0.5vw;
  row-gap: 0.5vh;
  grid-template-columns: 1fr 1fr;
  margin-right: 1%;
  margin-left: 1%;
}

.grid-item {
  width: 100%;
  min-height: 30vw;
  max-height: 60vw;
  margin-right: auto;
  margin-left: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
  text-decoration-line: none;
}

.grid-item h2 {
  font-size: 3vw;
  background: linear-gradient(45deg, blueviolet, aquamarine, whitesmoke);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration-line: none;
  margin-top: 0%;
  margin-bottom: 0%;
}

.grid-item p {
  font-size: 1.5vw;
  color: whitesmoke;
  text-decoration-line: none;
  margin-top: 1%;
  margin-bottom: 1%;
}

.display-item {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
  text-decoration-line: none;
}

.display-item h2 {
  font-size: 2vw;
  background: linear-gradient(45deg, blueviolet, aquamarine, whitesmoke);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration-line: none;
  margin-top: 0%;
  margin-bottom: 0%;
}

.item-image {
  aspect-ratio: 1920/1080;
  width: 85%;
  height: auto;
  padding: 1% 1%;
  margin-left: auto;
  margin-right: auto;
}

.item-description {
  width: 95%;
  height: 30%;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.display-description {
  width: 95%;
  height: auto;
  border-color: aquamarine;
  border-width: 0.1vw;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.head-image {
  aspect-ratio: 1920/1080;
  width: 60%;
  height: auto;
  padding: 1% 1%;
  margin-left: auto;
  margin-right: auto;
}

#monitor{
  animation: monitor-drop 2s ease;
}

@keyframes monitor-drop{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

#mouse{
  animation: mouse-drop 1.5s ease-in;
}

@keyframes mouse-drop{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

#keyboard{
  animation: keyboard-drop 1.5s ease-in-out;
}

@keyframes keyboard-drop{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

#console{
  animation: console-drop 1s linear;
}

@keyframes console-drop{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

#controller{
  animation: controller-drop 2.5s ease-out;
}

@keyframes controller-drop{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

#hello {
  transform: translateX(-100px);
}

#hello path:nth-child(1)
{
  animation: text-move 0s ;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(2)
{
  animation: text-move 0s ;
  animation-delay: 3.1s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(3)
{
  animation: text-move 0s ;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(4)
{
  animation: text-move 0s ;
  animation-delay: 3.3s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(5)
{
  animation: text-move 0s ;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(6)
{
  animation: text-move 0s ;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(7)
{
  animation: text-move 0s ;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(8)
{
  animation: text-move 0s ;
  animation-delay: 3.7s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(9)
{
  animation: text-move 0s ;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
}

#hello path:nth-child(10)
{
  animation: text-move 0s ;
  animation-delay: 3.9s;
  animation-fill-mode: forwards;
}

#welcome{
  transform: translateX(-100px);
}

#welcome path:nth-child(1){
  animation: text-move 0s ;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(2){
  animation: text-move 0s ;
  animation-delay: 4.1s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(3){
  animation: text-move 0s ;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(4){
  animation: text-move 0s ;
  animation-delay: 4.3s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(5){
  animation: text-move 0s ;
  animation-delay: 4.4s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(6){
  animation: text-move 0s ;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(7){
  animation: text-move 0s ;
  animation-delay: 4.6s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(8){
  animation: text-move 0s ;
  animation-delay: 4.7s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(9){
  animation: text-move 0s ;
  animation-delay: 4.8s;
  animation-fill-mode: forwards;
}#welcome path:nth-child(10){
  animation: text-move 0s ;
  animation-delay: 4.9s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(11){
  animation: text-move 0s ;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(12){
  animation: text-move 0s ;
  animation-delay: 5.1s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(13){
  animation: text-move 0s ;
  animation-delay: 5.2s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(14){
  animation: text-move 0s ;
  animation-delay: 5.3s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(15){
  animation: text-move 0s ;
  animation-delay: 5.4s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(16){
  animation: text-move 0s ;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(17){
  animation: text-move 0s ;
  animation-delay: 5.6s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(18){
  animation: text-move 0s ;
  animation-delay: 5.7s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(19){
  animation: text-move 0s ;
  animation-delay: 5.8s;
  animation-fill-mode: forwards;
}
#welcome path:nth-child(20){
  animation: text-move 0s ;
  animation-delay: 5.9s;
  animation-fill-mode: forwards;
}

@keyframes text-move{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100px);
  }
}

